@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  color: white;
  font-family: var(--inter);
}
:root {
  --inter: "Inter", sans-serif;
  --poppins: "Poppins", sans-serif;
  --transparent: #ffffff4d;
  --gradient: linear-gradient(90deg, #1a1e28 0%, #1a1e28 100%);
}
html {
  font-size: 62.5%;
}
img {
  width: 100%;
}
p,
a {
  font-size: 1.5rem;
}
[class*="grid"] {
  display: grid;
}
body {
  position: relative;
  background: url(images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 0;
}
.section-wraper {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}
.section {
  padding: 15rem 0;
  position: relative;
}
.s2 {
  padding-top: 5rem;
}
.page-no {
  position: absolute;
  left: 8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 5.5rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--transparent);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.page-no::before,
.page-no::after {
  content: "";
  position: absolute;
  height: 18rem;
  width: 1px;
  background: var(--transparent);
  top: -19rem;
}
.page-no::after {
  top: 6.5rem;
}
.container {
  max-width: 1500px;
  width: 100%;
  padding: 0 15rem;
  margin: auto;
  /* background: white;
  height: 200px; */
}
.container-fluid {
  width: 100%;
  padding: 0 5rem;
}
/* header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 7rem;
  z-index: 99999;
}
nav {
  position: fixed;
  height: 100vh;
  width: 50rem;
  background: #373b451e;
  backdrop-filter: blur(15px);
  top: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  padding: 10rem 5rem;
  transition: 0.3s;
  transform: translateX(100%);
}
nav.active {
  transform: translateX(0);
}
nav a {
  font-size: 3rem;
  display: flex;
  gap: 2rem;
  transition: 0.3s;
  width: fit-content;
  position: relative;
}
nav a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
  bottom: 0;
}
nav span {
  font-weight: 700;
}
header .container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 3rem;
}
.logo h3 span {
  display: block;
  font-size: 3.9rem;
}
.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 5rem;
  aspect-ratio: 1/1;
  padding: 1.3rem;
  background: #ffffff1a;
  border-radius: 5rem;
  cursor: pointer;
  position: relative;
}
.menu span {
  transition: 0.3s;
}
.menu.active span {
  position: absolute;
  width: 60%;
}
.menu.active span:nth-child(2) {
  opacity: 0;
}
.menu.active span:nth-child(1) {
  rotate: 45deg;
}
.menu.active span:nth-child(3) {
  rotate: -45deg;
}
.menu span {
  width: 100%;
  height: 1px;
  background: white;
}

/* main sec */
.intro {
  position: relative;
  width: 20rem;
  margin-bottom: 5rem;
}
.intro h3 {
  font-weight: 400;
  font-size: 1.6rem;
  position: absolute;
  bottom: -0.8rem;
  left: 0;
}
.typo {
  max-width: 55rem;
}

.typo .title {
  font-size: 6rem;
  font-weight: 600;
  text-transform: capitalize;
}
.typo p {
  font-weight: 300;
  color: var(--transparent);
  margin-top: 3rem;
}

/* sec 2 */
.main-title {
  text-align: center;
}
.sec-title {
  position: relative;
}
.sec-title span {
  font-size: 15rem;
  text-transform: uppercase;
  font-weight: 900;
  background: linear-gradient(270deg, #ffffff45 0%, #ffffff00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.sec-title h1 {
  font-size: 6rem;
  text-transform: capitalize;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
}
.sec-title img {
  position: absolute;
  max-width: 30rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
}
.main-title {
  margin-bottom: 10rem;
}
.main-title p {
  color: var(--transparent);
  margin-top: 1rem;
}
.content-grid {
  grid-template-columns: 1fr 2fr;
}
.tab p {
  text-transform: capitalize;
  color: var(--transparent);
}
.tab {
  margin-bottom: 3rem;
  cursor: pointer;
  width: fit-content;
}
.tab:last-child {
  margin-bottom: 0;
}
.tab.active {
  border-bottom: 1px solid white;
  color: white;
}
.tab.active p {
  color: white;
  padding-bottom: 0.5rem;
}
.typo2 {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.typo2 h3 {
  font-size: 3rem;
  font-weight: 500;
  text-transform: capitalize;
}
.typo2 p {
  font-size: 1.25rem;
  font-weight: 200;
  color: var(--transparent);
}
.right .des {
  font-weight: 400;
  color: var(--transparent);
  margin-top: 2rem;
  width: 80%;
}
.tab-content,
.project-tab {
  display: none;
}

.tab-ac {
  display: block;
}

.project-cetalog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.item {
  width: 23rem;
  background: var(--gradient);
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.3s;
  min-height: 100px;
}
.item:hover {
  transform: translateY(-1rem);
}
.item i {
  transition: 0.3s;
}
.item:hover i {
  color: #ff1f57;
}
.thumb {
  width: 100%;
  aspect-ratio: 1/0.7;
  overflow: hidden;
}
.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.item .title {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item .title i {
  font-size: 2rem;
}
.item .title h3 {
  font-size: 1.6rem;
  font-weight: 400;
}
.cetagory {
  position: absolute;
  right: 1rem;
  font-size: 1.2rem;
  bottom: 5rem;
  padding: 0.4rem 1rem;
  border-radius: 5rem;
  background: #ff1f57;
  color: white;
}
.gmail {
  font-size: 5rem;
  text-align: center;
  display: block;
}
.slider-no {
  position: absolute;
  right: 10rem;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
}
.slider-no::before {
  content: "";
  position: absolute;
  right: -1rem;
  width: 1px;
  height: 20rem;
  background: var(--transparent);
  top: 50%;
  transform: translateY(-50%);
}
.slider-no::after {
  content: "";
  position: absolute;
  right: -1rem;
  width: 1px;
  height: 10rem;
  background: white;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  position: relative;
  width: 100%;
  bottom: 2rem;
  left: 0;
  margin-top: 10rem;
}
footer .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1rem;
}
.social i {
  font-size: 2rem;
  color: var(--transparent);
  transition: 0.3s;
}
.social i:hover {
  color: white;
}
footer p {
  color: var(--transparent);
}
.company {
  margin-top: 5rem;
}
.company:first-child {
  margin-top: 0;
}
.company h3 {
  position: relative;
  width: fit-content;
}
.company h3::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 1px;
  right: -6rem;
  background: white;
  top: 50%;
  transform: translateY(-50%);
}
.company p {
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 991px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 62%;
  }
  .container {
    padding: 0 1.5rem;
  }
  header .container-fluid {
    padding: 0 2rem;
  }
  header {
    background: #1a1e28;
  }
  header .logo h3 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .menu {
    width: 4rem;
  }
  nav {
    width: 100%;
  }
  .typo,
  .typo2 {
    text-align: center;
  }
  .social {
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }
  .typo2 .social i {
    font-size: 2.5rem;
  }
  .logo h3 span {
    font-size: 2.3rem;
  }
  .typo .title {
    font-size: 4.2rem;
  }
  .page-no {
    display: none;
  }
  .page-no::before,
  .page-no::after {
    display: none;
  }
  .sec-title span {
    font-size: 6rem;
  }
  .sec-title h1 {
    font-size: 3rem;
    width: 100%;
  }
  [class*="grid"] {
    grid-template-columns: 1fr;
  }
  .project-tabs,
  .tabs {
    display: flex;
    justify-content: center;
    gap: 2rem 3rem;
    flex-wrap: wrap;
    margin-bottom: 8rem;
  }
  .tab {
    margin-bottom: 0;
  }
  .typo2 {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  .intro {
    display: none;
  }
  .right .des {
    width: 100%;
  }
  .project-cetalog {
    width: 90%;
    margin: auto;
  }
  .item {
    width: 100%;
  }

  .main-title {
    margin-bottom: 5rem;
  }
  .right .des {
    margin-top: 3rem;
  }
  .sec-title h1 {
    bottom: 1rem;
  }
  .slider-no {
    display: none;
  }
  .section {
    padding: 10rem 0;
  }
  .sec-title img {
    max-width: 60%;
  }
  footer .container-fluid {
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
  }
}
